html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  border: 0;
  padding: 0;
  font-family: "Press Start 2P", system-ui;
  ;
  font-weight: 400;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

#app {
  width: 100%;
  height: 100%;
  background-image: url("bg.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.reels-container {
  display: flex;
  background-image: url("frame.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  margin-top: 4cap;
  height: 40rem;
  width: 70rem;
}

.reel {
  background: #ffffff;
  width: 29%;
  height: 82%;
  overflow: hidden;
  margin: 0 0.5rem;
  border-radius: 3%;
}

.squares {
  transition: transform 1s ease-in-out;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
}

button {
  cursor: pointer;
  font-size: 1.2rem;
  font-family: "Press Start 2P", system-ui;
  ;
  text-transform: uppercase;
  margin: 1rem 2rem 0 2rem;
  border-radius: 20px;
  padding: 1rem 0 1rem 0;
}

#start {
  background-image: url("play_button_0.png");
  background-size: 110% 110%;
  background-repeat: no-repeat;
  width: 60%;
  height: 35%;
}

#winimage {
  display: none;
  position: fixed;
  top: 55%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  right: 41%;

}

#winline {
  width: 210%;
}

#info {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color: rgb(255, 251, 231);
}

.saldo-container,
.valor-container {
  margin: 0 6rem;
}