<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Slot Machine Challenge</title>
  <link rel="stylesheet" href="static/css/styles.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Press+Start+2P&display=swap"
    rel="stylesheet">
</head>

<body>
  <div id="app">

    <div id="info">
      <div class="saldo-container">
        <span id="saldo"></span>
      </div>
      <div class="valor-container">
        <span id="valor"></span>
      </div>
    </div>


    <div class="reels-container">
      <div class="reel">
        <div class="squares">
        </div>
      </div>

      <div class="reel">
        <div class="squares">
        </div>
      </div>

      <div class="reel">
        <div class="squares">
        </div>
      </div>
    </div>

    <div class="buttons">
      <button id="start">Jogar</button>
    </div>

    <div id="winimage">
      <img id="winline" src="static/css/winline.png">
    </div>
  </div>
</body>
<script src="static/js/main.js"></script>

</html>